@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap'); */
body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
  }